@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    text-align: center;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #FFF;
}

.header {
    background-color: #343a40;
    height: 70px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 3%;
    font-family: Montserrat;
    width: 100%;
    position: fixed;
}

h1 {
    display: inline-block;
    position: absolute;
    font-weight: 900;
    font-size: large;
    left: 100px;
}

.menu {
    display: inline-block;
    position: absolute;
    right: 85px;
}

h4 {
    display: inline-block;
    margin: 15px;
}

.main {
    background-color: #1abc9c;
    text-align: center;
    font-family: Montserrat;
    color: #FFFFFF;
    padding-bottom: 50px;
    padding-top: 120px;
    width: 100%;    
}

span {
    font-size: x-large;
    font-weight: 900;
}

img {
    height: 200px;
}

.middle {
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 6px;
    color: #343a40;
}

hr {
    background-color: #343a40;
    width: 80px;
}

.topline {
    margin: 5px;
}

.btext {
    display: inline-block;
    width: 500px;
    text-align: center;
    vertical-align: text-top;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1abc9c;
}

.bottom {
    padding-top: 50px;
}

